.list-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}
.item {
  display: flex;
  justify-content: space-between;
}
